* {
    margin: 0;
    box-sizing: 0;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.5);
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: auto;

}
.modal-content{
    justify-content: center;
    width:500px;
    background-color: white;
    border-radius: 20px;
    padding:20px
}


.modal-header1, .modal-footer{
    padding:10px;
    z-index:2;
}

.modal-title{
    display: flex;
    justify-content: center;
    margin: 0;
    font-weight: bold;
}

.modal-body{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn button{
    padding: 0.5rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    font-size: 16px;
    margin-right: 2rem;
    margin-left: 2rem;
}

.btn button:hover {
    color: white;
    background-color: rgb(61, 43, 226);
}

.btn2 {
    display: flex;
    justify-content: right;
}

.btn2 button{
    padding: 0.5rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    font-size: 16px;
    margin-right: 2rem;
    margin-left: 2rem;
}

.btn2 button:hover {
    color: white;
    background-color: rgb(61, 43, 226);
}

.moviePoster {
    display: flex;
    justify-content: center;
    overflow: auto;
}
.comboPic{
  display: flex;
  justify-content: center;
  height: 200px;
  width: 200px; 
}
.movie-container {
    margin: 20px 0;
  }
  
  .movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .container2 {
    perspective: 1000px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }
  
  .seat {
    background-color: #444451;
    height: 26px;
    width: 32px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .seat.selected {
    background-color: green;
  }
  
  .seat.sold {
    background-color: #cf1414;
  }
  
  .seat:nth-of-type(2) {
    margin-right: 18px;
  }
  
  .seat:nth-last-of-type(2) {
    margin-left: 18px;
  }
  
  .seat:not(.sold):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .showcase .seat:not(.sold):hover {
    cursor: default;
    transform: scale(1);
  }
  
  .showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  .showcase li small {
    margin-left: 2px;
  }
  
  .row {
    display: flex;
  }
  
  .screen {
    background-color: #070707;
    height: 120px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-48deg);
    box-shadow: 0 3px 10px rgba(205, 201, 201, 0.7);
  }
   
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
  img {
    width: 70%;
    height: 50%;
 }
 .combo{
  /* position: fixed; */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin-left: 50px;
  display:flex;
  align-items: center;
  justify-content: center;

}
.combo-content{
  justify-content: center;
  width:500px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding:20px
}
.combo-body{
  display: flex;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.combo-footer{
  padding:10px;
}

.combo-header{
  display: flex;
  justify-content: center;
  margin: 0;
}

.combo-title{
  display: flex;
  justify-content: center;
  margin: 0;
  font-weight: bold;
}

.radioBtns{
  display: flex;
  justify-content: center;
  margin: 0;
}