.menu {
    /* 100px => .5vh */
    width: 300px;
    margin-top: 2vh;
}
.listCover {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: #040608; */
}

.listItemDropdown {
    /* color: rgb(0, 180, 203); */
    cursor: pointer;
    display: block;
    list-style: none;
    margin: 0;
    padding: 10px;
}

.listItemDropdown:hover {
    color: rgb(212, 212, 212);
    transition: 0.6s;
}

.menuButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgb(84, 68, 225);
    color: white;
}

.menuButton path {
    fill: white;
}

.currentMoviesWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.searchBarStaff {
    margin-left: 2px;
    border-radius: 5px;
}