.dropDownContainer {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-left: 20px;
    min-height: 30vh;
    max-width: 300px;
    /* background-color: #141a24; */
}