.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.titleWrapper {
    border-bottom: solid;
    margin-bottom: 2em;
}