.App {
    display: flex;
    flex-direction: row;
    gap: 150px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.titleWrapper {
    border-bottom: solid;
    margin-bottom: 2em;
}

.mainTitle {
    font-size: 90px;
    
}

.appCols {
    display: flex;
    right: 1000px;
}

/* .dropWrapper {
    right: 1000px;
} */