.App {
    display: flex;
    flex-direction: row;
    gap: 150px;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.titleWrapper {
    border-bottom: solid;
    margin-bottom: 2em;
}

.mainTitle {
    font-size: 90px;
    
}

.appCols {
    display: flex;
    right: 1000px;
}

.goToAppButton {
    width: 20%;
    height: 3em;
    background-color: rgb(61, 43, 226);
    font-size: larger;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    color: white;
    margin-left: 625px;
}
.goToAppButton:hover {
    transform: scale(1.1);
}
.buttonWrapper {
    display: flex;
    align-items: center;
}

.buttonAnchor {
    color: white;
    text-decoration: none;
}