.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

.staffModal {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.modalButtonCancel {
    color: red;
    border-color: red;
    font-weight: bold;
    margin-top: 20px;
    color: red;
    padding: 10px 30px;
    font-size: 1em;
    background: transparent;
    border-radius: 50px;
    border: 1px solid red;
    margin: 40px auto 0;
    cursor: pointer;
    opacity: 0.7;
}
.modalButtonSubmit {
    color: rgb(61, 43, 226);
    border-color: rgb(61, 43, 226);
    font-weight: bold;
    margin-top: 20px;
    color: rgb(61, 43, 226);
    padding: 10px 30px;
    font-size: 1em;
    background: transparent;
    border-radius: 50px;
    border: 1px solid rgb(61, 43, 226);
    margin: 40px auto 0;
    cursor: pointer;
    opacity: 0.7;    
}

.modalButtonSubmit:hover {
    background-color: rgb(61, 43, 226);
    color: white;
    transform: scale(1.2);
    transition: 0.25s;

}

.modalButtonCancel:hover {
    background-color: red;
    color: white;
    transform: scale(1.2);
    transition: 0.25s;

}

.modalButtonClose {
    color: red;
    font-weight: bold;
    align-self:last baseline;

}

.modalButtonClose:hover {
    transform: scale(1.2);
    transition: 0.25s;
}

.buttonWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.staffModal p {
    /* color: #444; */
    font-weight: bold;
}

.modalTitle {
    font-weight: bold;
    text-decoration: underline;
}

.svgWrapper {
    width: 80px;
    height: 80px;
    display:flex;
    align-items: center;
}