.messageWrapper {
    min-height: 25em;
    max-height: 40em;

    max-width: 40em;
    border: 1px;
    border-radius: 20px;
    /* margin-left: 50px; */
    border: 1px solid rgb(86, 70, 228);
    background-color: rgb(86, 70, 228);
}
.messageWrapper p {
    font-size: 20px;
    color: white;
    padding: 15px;
}

.smallMessageWrapper {
    min-height: 10em;
    max-height: 30em;

    max-width: 40em;
    border: 1px;
    border-radius: 20px;
    border: 1px solid rgb(86, 70, 228);
    background-color: rgb(86, 70, 228);
    margin-bottom: 2em;    
}

.smallMessageWrapper p {
    font-size: 20px;
    color: white;
    padding: 15px;
}