.execImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 40em;
    height: 25em;
    border-radius: 30px;
    border: 1px solid rgb(61, 43, 226);
}
.summaryWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.execImageWrapper img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.textImageWrapper {
    display: flex;
    align-items: center;
}