.mapImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100em;
    height: 90em;
    border-radius: 30px;
    border: 1px solid rgb(61, 43, 226);
}
.mapImageWrapper img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.mapWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 5em;
}